# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.idea/
.vscode/

# testing files
testing.py

RiskLens-AI-Frontend-Handoff-Antigravity.md